# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Dependencies
node_modules/

# Build/output archives
*.zip
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
